################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PesquisaComAjax/.vs/PesquisaComAjax/v15/Server/sqlite3
